.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.header{
  font-size:20px;
  color: #000;
  
}
.nav_bar{
  background-color: #000;
}

body {
  background-color: #27b56b;
}

.imagem {
 
  background-color: aliceblue;
}

.video-container {
  margin:50px;
}

.circles {
  display:flex;
  justify-content: space-around;
}
#circles_text {
  background-color: #FFF;
  background: linear-gradient(0deg, #FFF 82%, #27b56b 0%);
  height: 300px;
}
#circle_mobile {
  background-color: #FFF;
  background: linear-gradient(0deg, #FFF 95%, #27b56b 0%);
  height: 300px;
}
.circle{
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: 2px solid white;
  background: #27b56b;
}
.circle_mobile_shape {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid white;
  background: #27b56b;
}

.vertical > * {
  display: block;
}

#video_header {
  display:flex;
  justify-content: space-around;
}

#underneath_video_text {
  font-size:25px;
}

#vertical_text{ 
  transform: rotate(270deg);
  font-size:15px;
}

#middle_text {
  color: #FFF;
  font-size: 35px;    
  line-height: 1.1;
}

#central_text {
  text-align:center; 
  font-size:45px;  
  padding-top: 50px; 
}

#white_container{
  text-align: center;
  display: block;
}

#white_container_text_left {
  color: #27b56b;
}

#white_container_middle_text {
  word-break: break-word; 
  text-align:center;
}

#underneath_container_text {
  text-align: center;
}

#underneath_container_right_text {
  color:#FFF;
}